/* General Styles */

* {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 1em;
}

.logo {
    padding-left: 240px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-right: 50px
}

.header-links {
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
    padding-right: 240px;
}

.header-links > li {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero Styles */
.hero {
    display: flex;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1em;
}

.hero-text > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text > p {
    font-size: 18px;
    max-width: 500px;
    flex-wrap: wrap;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
}

.hero > div > img {
    width: 800px;
    height: 200px;
    margin-left: 50px;
    object-fit: cover;
    object-position: 20% 80%;
}

/* Images Styles */

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    gap: 50px;
}

.image-section > h2 {
    padding-top: 30px;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    flex-shrink: 0;
}

.image-cards {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
}

.card > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 20% 80%;
    border: solid #3882F6 8px;
}

.card > p {
    font-size: 18px;
    color: #1F2937;
    padding-top: 24px;
    text-align: center;
}

/* Quote Styles */

.quote-section {
    background-color: #E5E7EB;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote-section > p {
    padding-top: 50px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.speaker {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    align-self: flex-end;
    padding-right: 240px;
    flex-shrink: 0;
}

/* Button Styles */

.button-section {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 500px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
}

.button-text {
    padding-right: 100px;
}

.button-text > h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.button-text > p {
    font-size: 16px;
    color: #F9FAF8;
}

.button-container > button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 50px;
    border-color: #F9FAF8;
    padding: 12px 100px;
}

/* Footer Styles */

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 20px 240px;
}

footer > p {
    color: white;
}