/* General Styles */

* {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 1em;
}

.logo {
    padding-left: 240px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
    padding-right: 240px;
}

.header-links > li {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero Styles */
.hero {
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
}

.hero-image {
    display: flex;
}

.hero-image > img {
    max-block-size: 499px;
}

/* Images Styles */

/* Quote Styles */

/* Button Styles */

/* Footer Styles */